<% content_for :title, 'Importă articole de cheltuială' %>

<h1>Importă articole de cheltuială</h1>

<p><%= link_to 'Înapoi la lista de articole de cheltuială', expenditure_articles_path, class: 'btn btn-light' %></p>

<%= render partial: 'flashes' %>

<%= bootstrap_form_with url: import_upload_expenditure_articles_path, method: :post do |form| %>
  <%= form.file_field :file,
                      label: 'Fișier Excel cu articolele de cheltuială',
                      accept: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' %>

  <%= form.submit 'Importă' %>
<% end %>
