<%= bootstrap_form_for @user do |f| %>
  <%= f.alert_message 'Vă rog să rezolvați erorile de mai jos:' %>

  <div class="col-12 col-sm-8 col-md-6 col-lg-4">
    <%= f.text_field :entra_user_id, label: 'ID utilizator din Microsoft 365', disabled: f.object.persisted? %>

    <%= f.select :role,
                 selectable_roles.map { |role|
                   [t("roles.#{role}"), role]
                 },
                 { include_blank: 'Selectează rolul utilizatorului...' },
                 { data: { use_select2: true }, disabled: current_user == @user }
    %>

    <%= f.color_field :background_color, label: 'Culoare de fundal pentru înregistrările create de acest utilizator',
                      control_class: 'form-control form-control-color' %>
    <%= f.color_field :text_color, label: 'Culoarea textului pentru înregistrările create de acest utilizator',
                      control_class: 'form-control form-control-color' %>

    <%= f.submit f.object.persisted? ? 'Salvează' : 'Adaugă' %>
  </div>
<% end %>
