<h1>Bază de date Control Financiar Preventiv</h1>

<%= render partial: 'flashes' %>

<% if session.has_key? :current_user_id %>
  <p>Bună, <%= session[:current_user_full_name] %>!</p>
  <% current_year = Setting.current_year %>
  <div class="d-flex flex-row flex-wrap justify-content-center">
    <%= render partial: 'primary_card', locals: {
      card_title: 'Cheltuieli',
      link_path: expenditures_path,
      link_text: 'Deschide registrul de cheltuieli',
      card_text: capture { %>
        <p>
          <%= Expenditure.where(year: current_year).count %> cheltuieli înregistrate în anul <%= current_year %>
          <br/>
          <%= Expenditure.count %> cheltuieli înregistrate în total
        </p>
      <% }
    } %>
    <%= render partial: 'primary_card', locals: {
      card_title: 'Angajamente',
      link_path: commitments_path,
      link_text: 'Deschide registrul de angajamente',
      card_text: capture { %>
        <p>
          <%= Commitment.where(year: current_year).count %> angajamente înregistrate în anul <%= current_year %>
          <br/>
          <%= Commitment.count %> angajamente înregistrate în total
        </p>
      <% }
    } %>
  </div>
  <div class="mt-3 mx-auto row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4" style="max-width: 60rem">
    <%= render partial: 'secondary_card', locals: {
      card_title: 'Surse de finanțare',
      card_text: "#{FinancingSource.count} surse de finanțare înregistrate",
      link_path: financing_sources_path,
      link_text: 'Vezi sursele de finanțare'
    } %>
    <%= render partial: 'secondary_card', locals: {
      card_title: 'Categorii de proiecte',
      card_text: "#{ProjectCategory.count} categorii de proiecte înregistrate",
      link_path: project_categories_path,
      link_text: 'Vezi categoriile de proiecte'
    } %>
    <%= render partial: 'secondary_card', locals: {
      card_title: 'Articole de cheltuială',
      card_text: "#{ExpenditureArticle.count} articole de cheltuială înregistrate",
      link_path: expenditure_articles_path,
      link_text: 'Vezi articolele de cheltuială'
    } %>
    <%= render partial: 'secondary_card', locals: {
      card_title: 'Tipuri de plăți',
      card_text: "#{PaymentType.count} tipuri de plăți înregistrate",
      link_path: payment_types_path,
      link_text: 'Vezi tipurile de plăți'
    } %>
    <%= render partial: 'secondary_card', locals: {
      card_title: 'Utilizatori',
      card_text: "#{User.count} utilizatori înregistrați",
      link_path: users_path,
      link_text: 'Vezi utilizatorii'
    } %>
    <%= render partial: 'secondary_card', locals: {
      card_title: 'Istoric activități',
      card_text: "#{AuditEvent.count} activități înregistrate",
      link_path: audit_events_path,
      link_text: 'Vezi istoricul activităților'
    } %>
    <% if current_user_is_supervisor_or_admin? %>
      <%= render partial: 'secondary_card', locals: {
        card_title: 'Setări',
        card_text: '',
        link_path: settings_path,
        link_text: 'Editează setările aplicației'
      } %>
    <% end %>
  </div>
  <div class="mt-5 text-center">
    <%= bootstrap_form_with url: sign_out_path, method: :post, data: { turbo: false } do %>
      <%= submit_tag 'Deconectare', class: 'btn btn-danger' %>
    <% end %>
  </div>
<% else %>
  <p>Bine ați venit. Pentru a accesa aplicația, conectați-vă în cont.</p>
  <p>
    <%= bootstrap_form_with url: '/auth/microsoft_identity_platform', method: :post, data: { turbo: false } do %>
      <button type="submit" class="btn btn-primary">
        <%= image_tag 'microsoft-logo.svg', width: 16, height: 16 %>
        <span>Autentificare folosind contul instituțional de Microsoft 365</span>
      </button>
    <% end %>
  </p>
<% end %>
