<%= bootstrap_form_for @commitment do |f| %>
  <%= f.alert_message 'Vă rog să rezolvați erorile de mai jos:' %>

  <div class="col-12 col-sm-8 col-md-6 col-lg-4">
    <%= f.number_field :year, disabled: true %>

    <%= f.text_field :registration_date,
                     # TODO: come up with a better way to handle date formatting
                     value: f.object.registration_date&.strftime('%d.%m.%Y'),
                     data: { datepicker: true, max_date: Time.zone.today.strftime('%d.%m.%Y') } %>

    <%= f.text_field :document_number %>

    <%= f.text_field :validity %>

    <%= f.select :financing_sources_ids,
                 FinancingSource.order(:name).map { |financing_source|
                   [financing_source.name, financing_source.id]
                 },
                 {
                   multiple: true,
                   selected: f.object.financing_sources.map(&:id)
                 },
                 {
                   data: {
                     use_select2: true,
                     placeholder: 'Selectează una sau mai multe surse de finanțare...'
                   }
                 }
    %>

    <%= f.text_field :project_details %>

    <%= f.select :expenditure_article_id,
                 ExpenditureArticle.order(:code).map { |expenditure_article|
                   ["#{expenditure_article.code} - #{expenditure_article.name}", expenditure_article.id]
                 },
                 { include_blank: 'Selectează articolul de cheltuială...' },
                 { data: { use_select2: true } }
    %>

    <%= f.text_field :procurement_type %>

    <%= f.text_field :partner %>

    <%= f.number_field :value, step: '0.01' %>

    <%= f.text_area :noncompliance %>

    <%= f.text_area :remarks %>

    <%= f.text_field :created_by_user, value: f.object.created_by_user.full_name, disabled: true %>

    <% if f.object.persisted? %>
      <%= f.text_field :updated_by_user, value: f.object.updated_by_user.full_name, disabled: true %>
    <% end %>

    <%= f.submit f.object.persisted? ? 'Salvează' : 'Adaugă' %>
  </div>
<% end %>
