<% content_for :title, 'Angajamente' %>

<% can_modify_commitments = current_user.supervisor? || current_user.admin? %>

<div class="container">
  <h1 class="mt-5 mb-3">Registru angajamente</h1>

  <div class="row">
    <div class="col">
      <p><%= link_to 'Înapoi la pagina principală', root_path, class: 'btn btn-light' %></p>
      <p><%= link_to 'Adaugă un angajament nou', new_commitment_path, class: 'btn btn-primary' %></p>
      <% if can_modify_commitments %>
        <p><%= link_to 'Importă angajamente din Excel', import_commitments_path, class: 'btn btn-success' %></p>
      <% end %>
      <p><%= link_to 'Exportă lista de angajamente ca Excel',
                     export_download_commitments_path(**request.query_parameters),
                     download: true, class: 'btn btn-success', data: { turbo: false } %></p>
      <p>
        <%= button_tag type: 'button', class: 'btn btn-primary',
                       data: { bs_toggle: 'collapse', bs_target: '#filter-form' },
                       aria: { expanded: @show_filter_form, controls: 'filter-form' } do %>
          Caută / filtrează înregistrări
        <% end %>
      </p>
    </div>

    <section class="col">
      <%= render partial: 'application/statistics', locals: { collection: @commitments } %>
    </section>
  </div>

  <%= render partial: 'flashes' %>

  <div class="mx-10">
    <%= bootstrap_form_with method: :get, layout: :inline, id: 'filter-form',
                            html: { class: 'border mt-3 pb-2 collapse' + (@show_filter_form ? ' show' : '') } do |form| %>
      <%= form.text_field :registration_number,
                          value: params[:registration_number],
                          label: 'Număr de înregistrare' %>
      <%= form.text_field :year,
                          value: params[:year] || current_year,
                          label: 'Anul', wrapper: { style: 'width: 100px' } %>
      <%= render partial: 'application/filters/start_end_date_filters', locals: { form: } %>
      <%= form.text_field :commitment_category_code,
                          value: params[:commitment_category_code],
                          label: 'Indicator tip de angajament',
                          help: 'Exemplu: A1' %>
      <%= form.select :financing_source_ids,
                      FinancingSource.order(:name).map { |financing_source|
                        [financing_source.name, financing_source.id]
                      },
                      {
                        multiple: true,
                        selected: @financing_source_ids,
                        label: 'Reprezentant UB / sursă de finanțare',
                        wrapper: { class: 'col-12' }
                      },
                      {
                        data: {
                          use_select2: true,
                          placeholder: 'Selectează o sursă de finanțare...'
                        }
                      } %>
      <%= form.select :expenditure_article_ids,
                      ExpenditureArticle.order(:code).map { |expenditure_article|
                        ["#{expenditure_article.code} - #{expenditure_article.name}", expenditure_article.id]
                      },
                      {
                        multiple: true,
                        selected: @expenditure_article_ids,
                        label: 'Articol de cheltuială',
                        wrapper: { class: 'col-12' }
                      },
                      {
                        data: {
                          use_select2: true,
                          placeholder: 'Selectează un articol de cheltuială...'
                        }
                      }
      %>
      <%= form.check_box :exclude_cash_receipts,
                         checked: params[:exclude_cash_receipts] == '1' ? true : false,
                         label: 'Exclude încasările' %>
      <%= form.text_field :document_number,
                          value: params[:document_number],
                          label: 'Număr document' %>
      <%= form.text_field :validity,
                          value: params[:validity],
                          label: 'Valabilitate' %>
      <%= form.text_field :project_details,
                          value: params[:project_details],
                          label: 'Detalii proiect' %>
      <%= form.text_field :partner,
                          value: params[:partner],
                          label: 'Partener' %>
      <%= form.text_field :procurement_type,
                          value: params[:procurement_type],
                          label: 'Tip achiziție' %>
      <%= form.text_field :noncompliance,
                          value: params[:noncompliance],
                          label: 'Neconformitate' %>
      <%= form.text_field :remarks,
                          value: params[:remarks],
                          label: 'Observații' %>
      <%= render partial: 'application/filters/value_filter', locals: { form: } %>
      <%= render partial: 'application/filters/user_filter',
                 locals: {
                   form:,
                   id: :created_by_user_ids,
                   label: 'Creat de utilizatorul',
                   selected: @created_by_user_ids
                 }
      %>
      <%= render partial: 'application/filters/user_filter',
                 locals: {
                   form:,
                   id: :updated_by_user_ids,
                   label: 'Modificat de utilizatorul',
                   selected: @updated_by_user_ids
                 }
      %>
      <div class="col-12">
        <%= render partial: 'filter_button', locals: { form: } %>
      </div>
    <% end %>
  </div>
</div>

<turbo-frame id="commitments-table">
  <%= will_paginate @paginated_commitments, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>

  <div class="top-scrollbar">
    <div class="filler"></div>
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
      <tr>
        <th scope="col">Acțiuni</th>
        <th scope="col">Număr de înregistrare</th>
        <th scope="col">Data înregistrării</th>
        <th scope="col">Număr document</th>
        <th scope="col">Valabilitate</th>
        <th scope="col">Reprezentant UB / sursă de finanțare</th>
        <th scope="col">Detalii proiect</th>
        <th scope="col">Articol de cheltuială</th>
        <th scope="col">Valoare cu TVA (RON)</th>
        <th scope="col">Partener</th>
        <th scope="col">Tip achiziție</th>
        <th scope="col">Neconformitate</th>
        <th scope="col">Observații</th>
        <th scope="col">Creat de</th>
        <th scope="col">Creat la data de</th>
        <th scope="col">Modificat de</th>
        <th scope="col">Modificat la data de</th>
      </tr>
      </thead>
      <tbody>
      <% @paginated_commitments.each do |commitment| %>
        <tr>
          <td class="text-nowrap">
            <%= link_to 'Duplică',
                        duplicate_commitment_path(commitment.id),
                        target: '_top',
                        class: 'btn btn-info' %>
            <% if can_modify_commitments %>
              <%= link_to 'Editează',
                          edit_commitment_path(commitment.id),
                          target: '_top',
                          class: 'ms-1 btn btn-warning' %>
            <% end %>
          </td>
          <th scope="row"><%= commitment.registration_number %>/<%= commitment.year %></th>
          <td><%= commitment.registration_date.strftime('%d.%m.%Y') %></td>
          <td><%= commitment.document_number %></td>
          <td><%= commitment.validity %></td>
          <td><%= commitment.financing_sources.map(&:name).join(', ') %></td>
          <td><%= commitment.project_details %></td>
          <td><%= "#{commitment.expenditure_article&.code} - #{commitment.expenditure_article&.name}" %></td>
          <td><%= commitment.value %></td>
          <td><%= commitment.partner %></td>
          <td><%= commitment.procurement_type %></td>
          <td><%= commitment.noncompliance %></td>
          <td><%= commitment.remarks %></td>
          <td><%= commitment.created_by_user.full_name %></td>
          <td><%= commitment.created_at.strftime('%d.%m.%Y la %H:%M ora României') %></td>
          <td><%= commitment.updated_by_user.full_name %></td>
          <td><%= commitment.updated_at.strftime('%d.%m.%Y la %H:%M ora României') %></td>
        </tr>
      <% end %>
      </tbody>
      <tfoot>
      <% if @commitments.empty? %>
        <tr>
          <td colspan="17" class="ps-5 py-3">
            <% if @any_filters_applied %>
              Nu a fost găsit niciun angajament care să se potrivească cu criteriile introduse.
            <% else %>
              Nu a fost adăugat încă niciun angajament.
            <% end %>
          </td>
        </tr>
      <% end %>
      </tfoot>
    </table>
  </div>

  <%= will_paginate @paginated_commitments, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
</turbo-frame>
