<% content_for :title, 'Adăugare angajament' %>

<h1>Adaugă un angajament nou</h1>

<p>
  <% if params.key? :source_expenditure_id %>
    <%= link_to 'Înapoi la registrul de cheltuieli', expenditures_path %>
  <% else %>
    <%= link_to 'Înapoi la registrul de angajamente', commitments_path %>
  <% end %>
</p>

<%= render partial: 'flashes' %>

<% if @source_expenditure.present? %>
  <p class="alert alert-info">
    Se creează un nou angajament pe baza cheltuielii cu numărul
    <%= @source_expenditure.registration_number %>/<%= @source_expenditure.year %>.
  </p>
<% end %>

<%= render partial: 'form' %>
