<h1>Cheltuieli</h1>

<div class="container">
  <div class="row">
    <div class="col">
      <p><%= link_to 'Înapoi la pagina principală', root_path, class: 'btn btn-light' %></p>
      <p><%= link_to 'Adaugă o cheltuială nouă', new_expenditure_path, class: 'btn btn-primary' %></p>
      <% if current_user.admin? %>
        <p><%= link_to 'Importă cheltuieli din Excel', import_expenditures_path, class: 'btn btn-success' %></p>
      <% end %>
      <p>
        <%= button_tag type: 'button', class: 'btn btn-primary',
                       data: { bs_toggle: 'collapse', bs_target: '#filter-form' },
                       aria: { expanded: @show_filter_form, controls: 'filter-form' } do %>
          Caută / filtrează înregistrări
        <% end %>
      </p>
    </div>

    <section class="col">
      <%= render partial: 'application/statistics', locals: { collection: @expenditures } %>
    </section>
  </div>
</div>

<%= bootstrap_form_with method: :get, layout: :inline, id: 'filter-form',
                        html: { class: 'border my-3 pb-2 collapse' + (@show_filter_form ? ' show' : '') } do |form| %>
  <%= form.text_field :registration_number,
                      value: params[:registration_number],
                      label: 'Număr de înregistrare' %>
  <%= form.text_field :year,
                      value: params[:year],
                      label: 'Anul', wrapper: { style: 'width: 100px' } %>
  <%= render partial: 'application/filters/start_end_date_filters', locals: { form: } %>
  <%= form.text_field :expenditure_category_code,
                      value: params[:expenditure_category_code],
                      label: 'Indicator tip de cheltuială',
                      help: 'Exemplu: C1' %>
  <%= form.select :financing_source_ids,
                  FinancingSource.order(:name).map { |financing_source|
                    [financing_source.name, financing_source.id]
                  },
                  {
                    multiple: true,
                    selected: @financing_source_ids,
                    label: 'Sursă de finanțare (centru de cost)',
                    wrapper: { class: 'col-12' }
                  },
                  {
                    data: {
                      use_select2: true,
                      placeholder: 'Selectează o sursă de finanțare...'
                    }
                  } %>
  <%= form.select :project_category_ids,
                  ProjectCategory.order(:name).map { |project_category|
                    [project_category.name, project_category.id]
                  },
                  {
                    multiple: true,
                    selected: @project_category_ids,
                    label: 'Categorie de proiect',
                    wrapper: { class: 'col-12' }
                  },
                  {
                    data: {
                      use_select2: true,
                      placeholder: 'Selectează o categorie de proiect...'
                    }
                  } %>
  <%= form.select :expenditure_article_ids,
                  ExpenditureArticle.order(:code).map { |expenditure_article|
                    ["#{expenditure_article.code} - #{expenditure_article.name}", expenditure_article.id]
                  },
                  {
                    multiple: true,
                    selected: @expenditure_article_ids,
                    label: 'Articol de cheltuială',
                    wrapper: { class: 'col-12' }
                  },
                  {
                    data: {
                      use_select2: true,
                      placeholder: 'Selectează un articol de cheltuială...'
                    }
                  }
  %>
  <%= form.text_field :project_details,
                      value: params[:project_details],
                      label: 'Detalii proiect' %>
  <%= form.text_field :details,
                      value: params[:details],
                      label: 'Detalii cheltuială' %>
  <%= form.text_field :procurement_type,
                      value: params[:procurement_type],
                      label: 'Tip achiziție' %>
  <%= form.text_field :ordinance_number,
                      value: params[:ordinance_number],
                      label: 'Număr ordonanțare' %>
  <%= form.text_field :ordinance_date,
                      value: params[:ordinance_date],
                      label: 'Dată ordonanțare',
                      data: { datepicker: true, max_date: Time.zone.today.strftime('%d.%m.%Y') } %>
  <%= render partial: 'application/filters/value_filter', locals: { form: } %>
  <%= form.select :payment_type_ids,
                  PaymentType.order(:name).map { |payment_type|
                    [payment_type.name, payment_type.id]
                  },
                  {
                    multiple: true,
                    selected: @payment_type_ids,
                    label: 'Tip de plată',
                    wrapper: { class: 'col-3' }
                  },
                  {
                    data: {
                      use_select2: true,
                      placeholder: 'Selectează un tip de plată...'
                    }
                  } %>
  <%= form.text_field :beneficiary,
                      value: params[:beneficiary],
                      label: 'Beneficiar' %>
  <%= form.text_field :invoice,
                      value: params[:invoice],
                      label: 'Factură' %>
  <%= form.text_field :noncompliance,
                      value: params[:noncompliance],
                      label: 'Neconformitate' %>
  <%= form.text_field :remarks,
                      value: params[:remarks],
                      label: 'Observații' %>
  <%= render partial: 'application/filters/user_filter',
             locals: {
               form:,
               id: :created_by_user_ids,
               label: 'Creat de utilizatorul',
               selected: @created_by_user_ids
             }
  %>
  <%= render partial: 'application/filters/user_filter',
             locals: {
               form:,
               id: :updated_by_user_ids,
               label: 'Modificat de utilizatorul',
               selected: @updated_by_user_ids
             }
  %>
  <div class="col-12">
    <%= render partial: 'filter_button', locals: { form: } %>
  </div>
<% end %>

<%= render partial: 'flashes' %>

<turbo-frame id="expenditures-table">
  <%= will_paginate @paginated_expenditures, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>

  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
      <tr>
        <th scope="col">Număr de înregistrare</th>
        <th scope="col">Data înregistrării</th>
        <th scope="col">Sursă de finanțare</th>
        <th scope="col">Categorie proiect</th>
        <th scope="col">Detalii proiect</th>
        <th scope="col">Articol de cheltuială</th>
        <th scope="col">Detalii</th>
        <th scope="col">Tip achiziție</th>
        <th scope="col">Număr ordonanțare</th>
        <th scope="col">Dată ordonanțare</th>
        <th scope="col">Valoare plată (RON)</th>
        <th scope="col">Tip de plată</th>
        <th scope="col">Beneficiar</th>
        <th scope="col">Factură</th>
        <th scope="col">Neconformitate</th>
        <th scope="col">Observații</th>
        <th scope="col">Creat de</th>
        <th scope="col">Creat la data de</th>
        <th scope="col">Modificat de</th>
        <th scope="col">Modificat la data de</th>
        <th scope="col">Acțiuni</th>
      </tr>
      </thead>
      <tbody>
      <% @paginated_expenditures.each do |expenditure| %>
        <tr>
          <th scope="row"><%= expenditure.registration_number %>/<%= expenditure.year %></th>
          <td><%= expenditure.registration_date.strftime('%d.%m.%Y') %></td>
          <td><%= expenditure.financing_source&.name %></td>
          <td><%= expenditure.project_category&.name %></td>
          <td><%= expenditure.project_details %></td>
          <td><%= "#{expenditure.expenditure_article&.code} - #{expenditure.expenditure_article&.name}" %></td>
          <td><%= expenditure.details %></td>
          <td><%= expenditure.procurement_type %></td>
          <td><%= expenditure.ordinance_number %></td>
          <td><%= expenditure.ordinance_date&.strftime('%d.%m.%Y') %></td>
          <td><%= number_to_currency expenditure.value, unit: '' %></td>
          <td><%= expenditure.payment_type&.name %></td>
          <td><%= expenditure.beneficiary %></td>
          <td><%= expenditure.invoice %></td>
          <td><%= expenditure.noncompliance %></td>
          <td><%= expenditure.remarks %></td>
          <td><%= expenditure.created_by_user.full_name %></td>
          <td><%= expenditure.created_at.strftime('%d.%m.%Y la %H:%M ora României') %></td>
          <td><%= expenditure.updated_by_user.full_name %></td>
          <td><%= expenditure.updated_at.strftime('%d.%m.%Y la %H:%M ora României') %></td>
          <td>
            <%= link_to 'Convertește în angajament',
                        new_commitment_path(source_expenditure_id: expenditure.id),
                        class: 'btn btn-primary' %>
          </td>
        </tr>
      <% end %>
      </tbody>
      <tfoot>
      <% if @expenditures.empty? %>
        <tr>
          <td colspan="17" class="ps-5 py-3">
            <% if @any_filters_applied %>
              Nu a fost găsită nicio cheltuială care să se potrivească cu criteriile introduse.
            <% else %>
              Nu a fost adăugată încă nicio cheltuială.
            <% end %>
          </td>
        </tr>
      <% end %>
      </tfoot>
    </table>
  </div>

  <%= will_paginate @paginated_expenditures, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
</turbo-frame>
