<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <title><%= (yield(:title) + ' - ' unless yield(:title).blank?).to_s + 'Aplicație CFP' %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', data: { turbo_track: 'reload' } %>
  <%= javascript_importmap_tags %>
</head>

<body>

<% unless defined? @layout_without_container %>
<main class="mt-5 container">
<% end %>
  <%= yield %>
<% unless defined? @layout_without_container %>
</main>
<% end %>

</body>
</html>
